* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --produto-blue: #7fc4ed;
  --produto-blue-dark: #659aba;
  --base-gray-100: #fbf9fe;
  --base-gray-200: #322f40;
  --base-gray-300: #282533;
  --base-gray-400: #1d1b26;
  --base-gray-500: #0f0e13;
}

body {
  background: var(--base-gray-500);
  height: 100dvh;
  display: flex;
  justify-content: center;
}
