.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.38rem;
  max-width: 44rem;
  max-height: 22rem;
  width: 100%;
  align-self: center;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.counters {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 20rem;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .main {
    align-self: auto;
    padding-top: 2rem;
  }
}
